* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 300px;
    margin:10px;
}


input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 5px;
}
.container{
    display: flex;
    
}
table{
    margin: 10px;
}

form{
    width: 300px;
    height: 250px;

}
.box{
    width: 40%;
    border: 1px solid;
}